@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

:root{
    --mainTextColor-light:#000;
    --secondaryTextColor-light:rgb(51 51 51);
    --mainLinkColor-light:#0da2b8;
    --mainBorderColor-light:rgb(218, 218, 218);
    --mainBgColor-light:rgb(249, 250,251);
    --font-size-base: 1rem;
}

[data-theme="dark"]{
    --mainTextColor:#fff;
    --secondaryTextColor:#adb0b1;
    --mainLinkColor:rgb(30, 190,214);
    --mainBorderColor:#2b3031;
    --mainBgColor:#131415;
}



*{
    font-family: 'Readex Pro';
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColor);
    font-size: var(--font-size-base);
    
}

body{
    background-color: var(--mainBgColor);            
}

p, span, li{
    color: var(--secondaryTextColor);
    font-size: 1em;
}

a{
    text-decoration: none;
    color: var(--mainLinkColor);
    font-weight: 500;
}

li{
    line-height: 1.9em;
}

#container--main{
    max-width: 700px;
    margin: 0 auto;
    padding: 1em;
}

.company-logo {
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

.section--page{
    padding-top: 1em;
    padding-bottom: 1em;
}

#wrapper--hero{
    display: flex;
    align-items: center;
    gap: 4em;
}

#bio, a{
    font-weight: 300;
}

#user-name{
    font-size: 48px;
    line-height: 1em;
}

#profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%; /* This ensures the image is circular */
    overflow: hidden; /* This ensures that if the image is too large, it will be cropped properly */
}

#email{
    color: var(--mainTextColor);
}

#socials--list{
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    flex-wrap: wrap;
}

#socials--list a{
    font-weight: 300;
    color: var(--secondaryTextColor);
    font-size: 0.9em;
    transition: 0.3s;
}

#socials--list a:hover{
    font-weight: 100;
    color: var(--mainLinkColor);
    font-size: 0.9em;
}

#qualifications--list{
    list-style: none;
}

#wrapper--techstack__items {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5em;
    justify-content: center;
}

.card--techstack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.8em; /* Adjusted padding for smaller cards */
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    background-color: var(--mainBgColor);
    width: calc(20% - 1.5em); /* 5 cards per row */
    text-align: center;
    min-width: 120px; /* Prevents shrinking too much on small screens */
}

.tech-logo {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-bottom: 8px; /* Adjusted spacing between logo and text */
}

.card--techstack span {
    font-size: 0.9em; /* Smaller text */
    font-weight: 500;
}


.card--project{
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid var(--mainBorderColor);
}

.card--project a{
    color: var(--mainTextColor);

    transition: 0.3s;
}

.card--project a:hover{
    color: rgb(30, 190,214);

}

.card--work-history{
    border-left: 1px solid var(--mainBorderColor);
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 2em;
}

.line-break{
    background-color: var(--mainBorderColor);
    height: 1px;
}


@media(max-width:600px){

    .section--page{
        padding-top: 1em;
        padding-bottom: 1em;
        margin-top: 3em;
    }

    #wrapper--hero{
        display: flex;
        align-items: center;
        gap: 1em;
    }

    #profile-pic{
        width: 200px;
        height: 200px;
    }

    #wrapper--hero{
        flex-direction: column;
    }

    .card--work-history{
        border-left: none;
        padding-left: 0;
    }
    .card--techstack {
        width: 100%; /* 1 card per row for small screens */
    }
}

@media(max-width: 900px) {
    .card--techstack {
        width: calc(50% - 1.5em); /* 2 cards per row for medium screens */
    }
}